---
import type { Post } from "@interfaces/data";
import PostCard from "@components/PostCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import BaseCard from "@components/BaseCard.astro";
import CardGroup from "@components/temple/CardGroup.astro";
import { t } from "@config";
import { Icon } from "astro-icon/components";

import { getAllPosts } from "@utils/blogUtils";

const allBlogsRaw = await getAllPosts();

// 转为 Post 类型数组
const allBlogs: Post[] = allBlogsRaw.map(blog => ({
  title: blog.data.title,
  description: blog.data.description,
  pubDate: blog.data.pubDate,
  image: blog.data.image,
  badge: blog.data.badge,
  categories: blog.data.categories,
  tags: blog.data.tags,
  slug: blog.slug,
  word: blog.remarkPluginFrontmatter?.totalCharCount,
  time: blog.remarkPluginFrontmatter?.readingTime,
}));

const tag = "Research";
const blogs = allBlogs.filter(blog => blog.tags && blog.tags.includes(tag));
---

<BaseLayout title="Research">
  <BaseCard>
    <div class="space-y-6">
      <section class="py-4">
        <div class="flex flex-col items-center text-center">
          <h1
            class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent leading-loose"
          >
            Hello! Welcome to Kevin ZOU's Research!
          </h1>
          <p class="text-xl text-base-content/80 max-w-3xl">
            Here, I will share my research work!
          </p>
        </div>
      </section>
    </div>
  </BaseCard>

  <CardGroup cols="1" gap="6">
    {
      blogs.map((blog) => (
        <PostCard
          title={blog.title}
          image={blog.image}
          description={blog.description}
          url={"/blog/" + blog.slug}
          pubDate={blog.pubDate}
          badge={blog.badge}
          categories={blog.categories}
          tags={blog.tags}
          word={blog.word}
          time={blog.time}
        />
      ))
    }
  </CardGroup>
</BaseLayout>